<style>

html, body {
	width: 100%;
	height: 100%;

 
}



header#background {

	background-image: url(../img/offblack1.jpg);
	  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: ;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;

  height: 100vh;
 }

.custnav {
	position: absolute;
	bottom: 0px;
	left: 0px;
}



 .handbutton{
      align-self:center;
      background:transparent;
      padding:1rem 1rem;
      margin:0 1rem;
      transition:all .5s ease;
      color: white;
      font-size:2rem;
      letter-spacing:1px;
      outline:none;
      box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px; 
      border:solid 7px #41403E;
      border-color: #F0C808;
      font-family: "amatic sc";
      
  }


      
.mainhead  {
	font-family: "amatic sc";
	text-transform:  uppercase;
	color: #F2E9DC;
	

	
}

.title {

}

.line {
	color: #F0C808;
}

.firsts
{
	color: #4CB944;
}



.description {
	 font-family: georgia, serif;
  font-size: 19px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 32px;
  text-transform: none;
}

/*NAv ----------------------------------------------------------------------------- */	
.icon-bar{
	color: white;
}

img.logo {
	max-height: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 30px;
	padding-left: 30px;
	border-style: none; }

}

div.logoname {
	 font-family: "amatic sc";
}



.navbar ul {
	      margin-right: 60px;

}

.navbar ul li  {
	 
	 background:transparent;
      
   	  margin-top: 8px;
      transition:all .5s ease;
      color: white;
      font-size:2rem;
      letter-spacing:1px;
      outline:none;
      box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px; 
      border:solid 7px #41403E;
      border-color: white;
      border-width: 2px;
      font-family: "amatic sc";
      display: inline;
      margin-left: 10px;



}

.navbar li a {
	color: white;
}

.navbar li.active a {
	background-color: #CCCB98;
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px; 

}

.navbar ul li a:hover {
	background-color: #466A7F;
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px; 
	

}

/*MYWORK PAGE ----------------------------------------------------------------------------- */	


.myworklanding {
  
  background-color: #9FB1BC; 
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;

}



.worklandingbuts {
    
      background:transparent;
      padding-left: 2px;
      padding-right: 2px;
   
      transition:all .5s ease;
      color: white;
      font-size:2rem;
      letter-spacing:1px;
      outline:none;
      box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px; 
      border:solid 7px #41403E;
      border-color: white;
      border-width: 2px;
      font-family: "amatic sc";
      display: inline;
      
  }




img.myworkthumbnail {
	display: inline-block; 
	margin-top: 50px;
}

.thumbdescrip {
	display: block-inline;
	color: white;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 15px;
	margin-bottom: 40px;

	font-family: 'Oswald', sans-serif;

}

.rowbreakline {
	display: inline-block;
}

.thumbdescrip h1 {

    font-family: "amatic sc";
    font-size: 4em;
    margin-bottom: 15px;
}

.thumbdescrip h2  {
	font-weight: 400;
	align: left;
	font-size: 1.5em;
	margin-bottom: 25px;
	border-bottom: 1px solid;
	border-bottom-width: 70%;
	display: inline;
}

.thumbdescrip p {
	align: left;
	font-weight: 400;
	font-style: normal;
	margin-top: 25px;





}

.lessbold {
		font-family: 'Oswald', sans-serif;
		font-weight: 400;
}

.myworklist  {
	font-size: 18px;
	margin-top: -5px;
	
}

.myworklist ul li {
	text-align: left;
	overflow: hidden;
}

.myworklist li {
	margin-top: 2px;
}

img.landingarrow {
	max-height: 20px;
}



.thumbrowTop {
	margin-top: 70px;
}

.thumbrowBottom {

	margin-bottom: 80px;
}

#thumb.button {
     font-family: 'Oswald', sans-serif;
    font-weight: 700;
	text-transform:  uppercase;
	color: #FFF1D0;
	font-size: 30px;
	line-height: 51px;
	padding: 10;
	margin-top: 100px;
	border-style: none;
	box-shadow: none;
  }



.titlelanding {
	font-size: 30px;
	font-family: "Oswald";
	color: white;
	margin-top: 0px;
}

  .myworkpagesbuts {
    
      background-color: red;
      padding-left: 2px;
      padding-right: 2px;
     
      transition:all .5s ease;
      color: white;
      font-size:2rem;
      letter-spacing:1px;
      outline:none;
      box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px; 
      border:solid 7px #41403E;
      border-color: #F0C808;
      border-width: 2px;
      font-family: "amatic sc";
      display: block;
   

  }


  /*FOOTER--------------------------------------------------------------------------------------------------*/



div.endpage {
	padding-bottom: 20px;
	padding-top: 20px;
  	background-color: #CCCB98;
  	height: 35px;
  	max-height: 35px;
  	width: 100%;
  	display: inline-block;
  	font-family: 'Oswald', sans-serif;
    font-weight: 700;
	text-transform:  uppercase;
	color: #FFF1D0;
	text-align: left;
	font-size: 15px;
	position: absolute;
	bottom: 0px;


}


  .lowerrow {
  
  }



  .uparrow {
  	max-height: 40px;
  	 -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 50%;
  

  }


 @keyframes example {
    0%   {bottom:8px;}
    25%  {bottom:7px;}
    50%  {bottom:6px;}
    75%  {bottom:7px;}
    100% {bottom:8px;}
} 


/*PORTFOLIO PAGE ----------------------------------------------------------------------------- */	



section#portfolio {
	
}


.vertical-align {
    display: flex;
    align-items: center;
}

.tdlanding {
	 background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #DD1C1A;
  overflow: hidden; 
}

/* YUTLI** */ 



.yutlilanding {
		 background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #2E5266;
  display: none;
}
.yutlianimshow {
		 background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #DD1C1A;
display: block;
}

/* QUOTE** */

.quotelanding {
		 background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #2E5266;
  display: none;
}
.quoteanimshow {
		 background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #DD1C1A;
  display: block;

}

div.quoteImages {
	display: inline-block;
	width: ;
	
}



div.infoblock{
	background-color: white;
	float: right;
	bottom: 0px;
	left: 0px;
	width: 300px;
	 font-family: 'Oswald', sans-serif;
    font-weight: 700;
	text-transform:  uppercase;
	display: inline-block;
	position: absolute;


}

ul.information {
	color: black;
}





/* ------MODAL FOR quotePage ------- */

.remodal {
min-height: 700px;
min-width: 900px;


}

.titlemodal {
	font-family: 'Amatic SC', sans-serif; 
	font-weight: 800px;
    font-size: 60px;
	color: #466A7F;
	text-transform: uppercase;
	padding: 0;
	margin-top: 30px;
}

.modaldescription {
	font-family: "Oswald", serif;
	size: 1em;
	font-weight: 400;
	margin-bottom: 200px;
}

.modalexit{
       background:transparent;
      padding-left: 2px;
      padding-right: 2px;
      margin-top: 4px;
      transition:all .5s ease;
      color: #FFBEBF;
      font-size:4rem;
      letter-spacing:1px;
      outline:none;
      box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px; 
      border:solid 7px #41403E;
      border-color: #FFBEBF;
      border-width: 2px;
      font-family: "amatic sc";
      font-weight: 700;
  }

  .modalnext {
      background:transparent;
      padding-left: 2px;
      padding-right: 2px;
      margin-top: 4px;
      margin-left: 5px;
      transition:all .5s ease;
      color: #444C99;
      font-size:4rem;
      letter-spacing:1px;
      outline:none;
      box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px; 
      border:solid 7px #444C99;
      border-color: #444C99;
      border-width: 2px;
      font-family: "amatic sc";
      font-weight: 700;
      
  }

  img.modalicons {
  	margin-top: 20px;
  	padding: 10px;
  	position: absolute;
  }

  


.ipadModalQuote {


}



/*MEDIA QUERIES ----------------------------------------------------- */

@media (min-width: 200px) {
	
.thumbrowTop {
	
}
.thumbrowBottom {

	
}
.mainhead  {

	

	
}

.description {
	
 }


	
	
	
	img.iphoneTD {
		display: ;
		
	}

	img.iphoneYutli {
		display: ;
	
	}

	img.iphoneYutli2 {
		display: ;
	
	}

	img.iphoneMerkel {
		display: ;
	
	}

	img.desktopTD {
		display: none;
	}

	img.desktopYutli {
		display: none;
	}
	img.desktopYutli2 {
		display: none;
	}

	img.desktopMerkel {
		display: none;
	}

	img.ipadTD {
		display: none;
	
	}

	img.ipadYutli {
	 	display: none;
	
	}

	img.ipadYutli2 {
	 	display: none;
	
	}



	img.ipadMerkel {
		display: none;
	}


 button.handbutton {
 	
 	
 }




}





@media(min-width: 768px) {

	

	 img.desktopTD {
		display: none;
	}

	img.desktopYutli {
		display: none;
	}
	img.desktopYutli2 {
		display: none;
	}

	img.iphoneAndiwear1 {
		display: none;
	
	}

	img.iphoneYutli2 {
		display: none;
	
	}


	img.desktopMerkel {
		display: none;
	}

	img.iphoneTD {
		display: none;
	}

	img.iphoneMerkel {
		display: none;
	}

	.mainhead  {

	
	font-size: ;

	
}

.description {
	
	font-size: ;
	 }





	img.ipadTD {
		display: ;
		
	}

		img.ipadYutli {
	 	display: ;
		
	
	}

	img.ipadYutli2 {
	 	display: ;
		
	
	}

	img.ipadMerkel {
		display: ;
		
	}



	   
    }

/*--------------------------- JUST FOR SQUIGLINE-------------------------- */

@media (max-height: 500px) {
	.sqigline {
		margin-top: -20px;
	}
}

/*------------------------ FOR MORE COMPUTERS------------------------------ */

@media(min-width: 1000px) {



	


	.mainhead  {

	font-size: 120px;


	
}

.description {
	

	font-size: 40px; }


	   
    }


	

	
	




/*CONTACT US PAGE --------------- ----------------------------------------------*/

.handbutton1{
      
      background:transparent;
      transition:all .5s ease;
      color: white;
      font-size:2rem;
      letter-spacing:1px;
      outline:none;
      
      border-style: none; 
   
   
      font-family: "amatic sc";
  }


div.lastpage {

	
  background-color: #F0C808;
  margin: 0px;
  padding: 0px;
  height: 20vh;
}


.contactpagetext {
	color: white;
	font-size: 6.5vw;
	font-family: 'Amatic SC', sans-serif;
}

li.emailhidden {
	display: block;
	color: white;
	font-size: 6.5vw;
	font-family: 'Amatic SC', sans-serif;
}

li.contacttext2 {
	color: #DD1C1A;
	font-size: 6.5vw;
	font-family: 'Amatic SC', sans-serif;
}

li.contacttext3 {
	color: #086788;
	font-size: 6.5vw;
	font-family: 'Amatic SC', sans-serif;
}

li.contacttext4 {
	color: red;
	font-size: 1.5vw;
	font-family: 'Amatic SC', sans-serif;
}


/* -------------------------------MODAL -----------------------------------*/



/* Modal Content/Box */
.modal {
	max-height: 20w;
	height: 20vw;
	background-color: blue;
}

.contacttext1 {
color: #086788;
	font-size: 3.5vw;
	font-family: 'Amatic SC', sans-serif;

}

/* The Close Button */
.close {
    color: #086788;
    float: right;
    font-size: 5vw;
    font-weight: bold;
    height: 5vw;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}










</style>